## Overview
This ETL process is tailored to analyze review datasets from New York, California, Florida, Texas, and Pennsylvania, specifically filtering for reviews related to restaurants. By working in tandem with the `restaurants_metadata`, the process ensures that only relevant customer feedback for listed dining establishments is extracted and analyzed. This approach facilitates a focused examination of customer experiences and satisfaction across these key states, enriching the overall analysis of the restaurant industry with targeted insights from actual reviews.

In [ ]:
import os
import json
import pandas as pd

## Loading Review Data

The process begins with the extraction of review datasets from five selected states: New York, California, Florida, Texas, and Pennsylvania. Each state's review data is stored in its respective directory, and the goal is to load this data efficiently, preparing it for subsequent filtering and analysis.

### Extraction Process
- **State-Specific Directories**: For each state, we define a path to its review directory. These directories contain JSON files with individual reviews.
- **Data Collection**: We iterate over each JSON file within a state's directory, reading and parsing every line (each representing a unique review) and appending the parsed JSON object to a list.
- **DataFrame Creation**: The list of review objects for each state is then converted into a pandas DataFrame, creating a structured format that facilitates further manipulation and analysis.

### Data Aggregation
- After processing the reviews for each state, we compile the resulting DataFrames into a single list and concatenate them into one unified DataFrame. This aggregated DataFrame, `df_review_states`, contains all the reviews from the specified states, ready for further processing.

### Review Filtering
- With `df_review_states` assembled, we proceed to filter the reviews to include only those that pertain to restaurants listed in the `google_restaurant_clean.csv` dataset. This is accomplished by matching the `gmap_id` in the reviews with those in the cleaned restaurant dataset.
- **Filtered DataFrame**: The result of this filtering process is `df_review_states_filtered`, a DataFrame containing only the relevant restaurant reviews from the initial state-specific datasets.

This structured approach to loading and filtering review data ensures that our analysis is focused, efficient, and grounded in the most relevant and accurate information available.

**Extraction Process:**

In [1]:
new_york_review_path = '../data/raw/Google Maps/State Review/review-New_York/'
new_york_reviews = []

# Iterate over each JSON file 
for filename in os.listdir(new_york_review_path):
    file_path = os.path.join(new_york_review_path, filename)
    with open(file_path, 'r') as file:
        for line in file:
            review_data = json.loads(line)
            new_york_reviews.append(review_data)

new_york_reviews_df = pd.DataFrame(new_york_reviews)

In [2]:
new_york_reviews_df.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,113722104692308235141,Alvin Martinez,1603494795361,5,I'm late to posting this but this store especi...,[{'url': ['https://lh5.googleusercontent.com/p...,None,0x89c25fc9494dce47:0x6d63c807b59a55
1,107293441492109320298,Johnnie Jackson,1620157037403,1,Very dissatisfied I did not get my phone the p...,None,"{'time': 1620268360920, 'text': 'We pride ours...",0x89c25fc9494dce47:0x6d63c807b59a55
2,100378585801819400296,Manie Blazer,1597431662039,5,Excellent very well done with professional car...,None,None,0x89c25fc9494dce47:0x6d63c807b59a55
3,114998161153019826512,Fashion Fiinds,1543773862044,5,Basing my review strictly on the service I rec...,None,"{'time': 1543855317372, 'text': 'Thanks for th...",0x89c25fc9494dce47:0x6d63c807b59a55
4,117178185728422297915,Andres Rieloff,1597279097718,1,Bad! Disorganized. I'm being totally honest. I...,None,None,0x89c25fc9494dce47:0x6d63c807b59a55

In [3]:
california_review_path = '../data/raw/Google Maps/State Review/review-California/'
california_reviews = []

for filename in os.listdir(california_review_path):
    file_path = os.path.join(california_review_path, filename)
    with open(file_path, 'r') as file:
        for line in file:
            review_data = json.loads(line)
            california_reviews.append(review_data)

california_reviews_df = pd.DataFrame(california_reviews)

In [4]:
florida_review_path = '../data/raw/Google Maps/State Review/review-Florida/'
florida_reviews = []

for filename in os.listdir(florida_review_path):
    file_path = os.path.join(florida_review_path, filename)
    with open(file_path, 'r') as file:
        for line in file:
            review_data = json.loads(line)
            florida_reviews.append(review_data)

florida_reviews_df = pd.DataFrame(florida_reviews)

In [5]:
pennsylvania_review_path = '../data/raw/Google Maps/State Review/review-Pennsylvania/'
pennsylvania_reviews = []

for filename in os.listdir(pennsylvania_review_path):
    file_path = os.path.join(pennsylvania_review_path, filename)
    with open(file_path, 'r') as file:
        for line in file:
            review_data = json.loads(line)
            pennsylvania_reviews.append(review_data)

pennsylvania_reviews_df = pd.DataFrame(pennsylvania_reviews)

In [6]:
texas_review_path = '../data/raw/Google Maps/State Review/review-Texas/'
texas_reviews = []

for filename in os.listdir(texas_review_path):
    file_path = os.path.join(texas_review_path, filename)
    with open(file_path, 'r') as file:
        for line in file:
            review_data = json.loads(line)
            texas_reviews.append(review_data)

texas_reviews_df = pd.DataFrame(texas_reviews)

**Data Aggregation**

In [7]:
state_review_dfs = [new_york_reviews_df, california_reviews_df, florida_reviews_df, pennsylvania_reviews_df, texas_reviews_df]
df_review_states = pd.concat(state_review_dfs, ignore_index=True)

In [9]:
df_review_states.tail()

,user_id,name,time,rating,text,pics,resp,gmap_id
12946819,102168135687638614085,t williams,1562883151018,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
12946820,105417309184712126911,Erika Lira,1532009672494,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
12946821,110785699186536003973,Jon Brent,1567968578697,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
12946822,109167601957430874067,lunna cabal,1506476840285,4,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
12946823,101270090075117497134,Michelle Torres,1555551049893,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4

**Review Filtering**

In [10]:
google_restaurant_clean_df = pd.read_csv('../data/Processed/google_restaurant_clean.csv')

filtered_reviews = df_review_states[df_review_states['gmap_id'].isin(google_restaurant_clean_df['gmap_id'])]

df_review_states_filtered = pd.DataFrame(filtered_reviews)

In [11]:
df_review_states_filtered.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
165,109434968607034492648,Tony Pinto,1384783434547,5,I came by yesterday to pick up some pizza on t...,None,None,0x89c258ffaeaba947:0x8355860772a595a9
166,108584493264435262292,Benji,1424212048498,1,Food was burnt and not good. You would think s...,None,None,0x89c258ffaeaba947:0x8355860772a595a9
167,108987049306954366378,Michael Rahmani,1419979427508,1,This place is horrible. I ordered two ziti piz...,None,None,0x89c258ffaeaba947:0x8355860772a595a9
168,107767094884093007779,eliau piha,1404689173836,5,Love their pizza and their service!\nREALLY IT...,None,None,0x89c258ffaeaba947:0x8355860772a595a9
169,107373453968933712290,Matt Schaffnit,1477384254400,5,Used to get lunch here nearly every day. You w...,None,None,0x89c258ffaeaba947:0x8355860772a595a9

## Review Data Transformations

The transformation phase for the review datasets involves several key steps to refine, enrich, and restructure the data for in-depth analysis. These steps include merging additional information, cleaning, and reformatting the data.

### Merging Restaurant Details
- **Enrichment**: The filtered review DataFrame, `df_review_states_filtered`, is merged with `google_restaurant_clean_df` to incorporate the restaurant's name, state, and city information based on the `gmap_id`. This step enriches each review with contextual details about the restaurant.

### Data Cleaning and Organization
- **Column Removal**: Unnecessary columns such as `pics` and `resp` are removed to streamline the dataset.
- **Column Renaming**: The `name_x` and `name_y` columns are renamed to `user_name` and `restaurant_name` for clarity.
- **Handling Missing Text**: Empty entries in the `text` column are replaced with "No Review" to maintain consistency in data representation.
- **Reordering Columns**: Columns are reordered for logical grouping and accessibility, with `gmap_id` positioned at the end.

### Timestamp Conversion
- **Datetime Formatting**: The `time` column, representing timestamps, is converted from Unix milliseconds to a human-readable datetime format, enhancing the interpretability of review timings.

### Handling Missing Values
- **Missing Value Analysis**: A count of missing values across columns is conducted to assess data completeness and identify areas requiring attention.

### User-Based Insights
- **Review Counts and Averages**: The data is grouped by `user_id` and `user_name` to calculate the total number of reviews per user and their average rating. This user-centric analysis can reveal patterns in review behavior and user engagement.

By meticulously transforming the review data, we ensure a high-quality dataset that supports detailed and nuanced analysis of customer feedback across different states and restaurants.

**Merging Restaurant Details**

In [14]:
df_review_states_filtered = pd.merge(
    df_review_states_filtered,
    google_restaurant_clean_df[['gmap_id', 'name', 'state', 'city']],
    on='gmap_id',
    how='inner'
)

In [18]:
df_review_states_filtered.head()

,user_id,name_x,time,rating,text,pics,resp,gmap_id,name_y,state,city
0,109434968607034492648,Tony Pinto,1384783434547,5,I came by yesterday to pick up some pizza on t...,None,None,0x89c258ffaeaba947:0x8355860772a595a9,Raffaello Kosher Pizza,New York,New York
1,108584493264435262292,Benji,1424212048498,1,Food was burnt and not good. You would think s...,None,None,0x89c258ffaeaba947:0x8355860772a595a9,Raffaello Kosher Pizza,New York,New York
2,108987049306954366378,Michael Rahmani,1419979427508,1,This place is horrible. I ordered two ziti piz...,None,None,0x89c258ffaeaba947:0x8355860772a595a9,Raffaello Kosher Pizza,New York,New York
3,107767094884093007779,eliau piha,1404689173836,5,Love their pizza and their service!\nREALLY IT...,None,None,0x89c258ffaeaba947:0x8355860772a595a9,Raffaello Kosher Pizza,New York,New York
4,107373453968933712290,Matt Schaffnit,1477384254400,5,Used to get lunch here nearly every day. You w...,None,None,0x89c258ffaeaba947:0x8355860772a595a9,Raffaello Kosher Pizza,New York,New York

In [17]:
state_counts = df_review_states_filtered.groupby('state').size().reset_index(name='count')
print(state_counts)

          state   count
0    California  530390
1       Florida  513309
2      New York  430434
3  Pennsylvania  224890
4         Texas  354992

**Data Cleaning and Organization**

In [19]:
df_review_states_filtered.drop(columns=['pics', 'resp'], inplace=True)

df_review_states_filtered.rename(columns={'name_x': 'user_name', 'name_y': 'restaurant_name'}, inplace=True)

In [27]:
df_review_states_filtered['text'] = df_review_states_filtered['text'].fillna("No Review")

In [30]:
columns = df_review_states_filtered.columns.tolist()
columns.remove('gmap_id')

# Append 'gmap_id' to the end of the list of columns
columns.append('gmap_id')

df_review_states_filtered = df_review_states_filtered[columns]

**Timestamp Conversion**

In [32]:
df_review_states_filtered['time'] = pd.to_datetime(df_review_states_filtered['time'], unit='ms')

In [33]:
df_review_states_filtered.head()

,user_id,user_name,time,rating,text,restaurant_name,state,city,gmap_id
0,109434968607034492648,Tony Pinto,2013-11-18 14:03:54.547,5,I came by yesterday to pick up some pizza on t...,Raffaello Kosher Pizza,New York,New York,0x89c258ffaeaba947:0x8355860772a595a9
1,108584493264435262292,Benji,2015-02-17 22:27:28.498,1,Food was burnt and not good. You would think s...,Raffaello Kosher Pizza,New York,New York,0x89c258ffaeaba947:0x8355860772a595a9
2,108987049306954366378,Michael Rahmani,2014-12-30 22:43:47.508,1,This place is horrible. I ordered two ziti piz...,Raffaello Kosher Pizza,New York,New York,0x89c258ffaeaba947:0x8355860772a595a9
3,107767094884093007779,eliau piha,2014-07-06 23:26:13.836,5,Love their pizza and their service!\nREALLY IT...,Raffaello Kosher Pizza,New York,New York,0x89c258ffaeaba947:0x8355860772a595a9
4,107373453968933712290,Matt Schaffnit,2016-10-25 08:30:54.400,5,Used to get lunch here nearly every day. You w...,Raffaello Kosher Pizza,New York,New York,0x89c258ffaeaba947:0x8355860772a595a9

**Handling Missing Values**

In [29]:
# Count the number of missing values in each column
missing_values_count = df_review_states_filtered.isnull().sum()

# Display the count of missing values for each column
print("Count of missing values in each column:")
print(missing_values_count)

Count of missing values in each column:
user_id            0
user_name          0
time               0
rating             0
text               0
gmap_id            0
restaurant_name    0
state              0
city               0
dtype: int64

In [34]:
df_review_states_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2054015 entries, 0 to 2054014
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   user_id          object
 1   user_name        object
 2   time             datetime64[ns]
 3   rating           int64
 4   text             object
 5   restaurant_name  object
 6   state            object
 7   city             object
 8   gmap_id          object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 141.0+ MB

**User-Based Insights**

In [25]:
# Count the number of reviews 
user_review_counts = df_review_states_filtered.groupby(['user_id', 'user_name']).size().reset_index(name='review_count')

# Calculate the average rating per user
user_average_ratings = df_review_states_filtered.groupby(['user_id', 'user_name'])['rating'].mean().reset_index()
user_average_ratings.rename(columns={'rating': 'average_rating'}, inplace=True)


user_review_counts_sorted = pd.merge(user_review_counts, user_average_ratings, on=['user_id', 'user_name'], how='inner')
user_review_counts_sorted = user_review_counts_sorted.sort_values(by='review_count', ascending=False)
user_review_counts_sorted.head()

,user_id,user_name,review_count,average_rating
346009,104819208193648646391,Gregor J. Rothfuss,102,3.950980
481911,106654503918907830147,The Corcoran Group,99,4.060606
1091561,114955250538652050870,Javier Kohen,60,3.966667
1100846,115082761597075271038,ej shortell,46,4.130435
703469,109673791694826464177,Jackie Gordon Singing Chef,44,3.863636

## Saving Transformed Review Data

After transforming the review datasets to extract meaningful insights and align the data structure with our analytical needs, the next critical step is to save the processed data for future use, ensuring persistence and accessibility.

### Directory Preparation
- **Path Definition**: The base path for saving the processed files is set to `../data/Processed/`. This organized approach facilitates easy retrieval and management of the saved datasets.
- **Directory Verification**: Using `os.makedirs(save_path, exist_ok=True)`, we ensure the existence of the specified directory, creating it if it doesn't already exist. The `exist_ok=True` parameter prevents any error if the directory is already in place, promoting smooth execution.

### Exporting DataFrames
- **Parquet Format**: The transformed DataFrames, `df_review_states_filtered` and `user_review_counts_sorted`, are saved in the Parquet format. Parquet is chosen for its efficiency in both storage and speed, supporting fast read and write operations, which is particularly beneficial for large datasets.
- **File Naming**: The files are named `google_reviews.parquet` and `google_users.parquet`, respectively, clearly indicating their contents and ensuring consistency in data management practices.
- **Index Exclusion**: The `index=False` parameter in the `to_parquet` method call ensures that DataFrame indices are not included in the saved files, resulting in cleaner datasets focused solely on the data content.

By meticulously saving the transformed review data in a structured and efficient format, we secure the fruits of our ETL process, laying a solid foundation for subsequent analyses and ensuring the longevity and integrity of our data assets.

In [35]:
save_path = '../data/Processed/'

import os
os.makedirs(save_path, exist_ok=True)


df_review_states_filtered.to_parquet(f'{save_path}google_reviews.parquet', index=False)
user_review_counts_sorted.to_parquet(f'{save_path}google_users.parquet', index=False)